.card{
    width: 1250px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
}

.info{
    display: flex;
}

.text{
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
  }