header{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 7rem;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 2rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-color);
}

.dark-div{
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}
 
